maxprerdomf78ddw.ommore.me  {
	file_server /static/maxprerdomf78ddw.ommore.me
}
maxprerdomf78maaax.ommore.me  {
	file_server /static/maxprerdomf78maaax.ommore.me
}
maxprerdomf78maaarrx.ommore.me  {
	file_server /static/maxprerdomf78maaarrx.ommore.me
}
